<article>
  <h2>Michał Orzechowski</h2>
  <p><em>Dziennikarz, pisarz, podróżnik, działacz praw człowieka</em></p>

  <h3>Publikacje i Media</h3>
  <p>
    Prace, opowiadania i teksty publikowane m.in. w: 'Playboy' (polskie wydanie), 'Fantastyka', 'Machina', 
    'Aktivist', 'Chichot', 'Focus', 'Tygodnik 'Solidarność'', 'Gazeta Polska', 'Nowe Państwo', 
    'Gazeta Obywatelska', niezalezna.pl, freepl.info, SDP.pl, Polskie Radio, TVP, TV Republika.
  </p>

  <h3>Książki</h3>
  <p>
    <strong>Autor książki 'I'</strong><br>
    – utopia/political fiction, wyd. NOWY ŚWIAT, 2004 r.
  </p>
  <p>
    <strong>Autor książki 'Wolny Tybet Wolne Chiny'</strong><br>
    – Wyd. NOWY ŚWIAT, 2008 r.
  </p>

  <h3>Praca Filmowa</h3>
  <p>
    <strong>Autor scenariusza filmu fabularnego 'Skrzydła Wolności'</strong><br>
    nt polsko-amerykańskiej Eskadry Kościuszko walczącej w polsko-bolszewickiej wojnie 1920 r. 
    – stypendium scenariuszowe PISF nr 422/61/06 2006 r.
  </p>
  <p>
    <strong>Reżyser i scenarzysta 'Casus Belli – po co komu ta wojna?'</strong><br>
    film dokumentalny nt wojny w Gruzji 2008 i na Ukrainie.
  </p>

  <h3>Raporty i Działalność Międzynarodowa</h3>
  <p>
    <strong>Autor raportów dla polskiej Europoseł Hanny Fołtyn-Kubickiej:</strong><br>
    • 'Z pomocą dla Gruzji' – konwój z polską pomocą humanitarną dla Gruzji, 2008 r.<br>
    • 'Raport Tybet' – tybetańskie obozy dla uchodźców w Indiach, 2009 r.
  </p>

  <h3>Filmy Dokumentalne</h3>
  <p>
    <strong>Uczestnik realizacji indyjsko-polskich (TVP) filmów dokumentalnych:</strong><br>
    • 'Mała Polska w Indiach' (Polacy w Indiach w czasie 2 wojny światowej)<br>
    • 'Dusza Oświecona – Trzy imiona Umy Devi' (historia życia i działalności Wandy Dynowskiej)<br>
    • 'Hiranmoy Ghoshal – Nurtem Dwóch Rzek' (historia życia i działalności Hiranmoya Ghoshala)
  </p>

  <h3>Członkostwa Zawodowe</h3>
  <p>
    Członek Stowarzyszenia Dziennikarzy Polskich SDP i Międzynarodowej Federacji Dziennikarzy IFJ.
  </p>

  <h3>Działalność Opozycyjna i Wydawnicza</h3>
  <p>
    Kolporter druków i prasy niezależnej w latach 80-tych; redaktor naczelny i wydawca pozadebitowego 
    pisma 'Czwarta Fala' – dofinansowanie Fundusz Kultury Niezależnej.
  </p>

  <h3>Edukacja</h3>
  <p>
    • Student Karmapa International Buddhist Institute KIBI, New Delhi, India – studia w jęz. angielskim.<br>
    • Student Uniwersytetu Roskilde, Dania – Wydz. Humanistyczny, International Culture Program – studia w jęz. angielskim i duńskim.<br>
    • Student Kopenhaskiego Uniwersytetu, Dania – Wydz. Filmowy, Hollywood Film Script – studia w jęz. angielskim.<br>
    • <strong>Magister Dziennikarstwa i Komunikacji Społecznej</strong> – Instytut Dziennikarstwa, Uniwersytet Warszawski.
  </p>

  <h3>Działalność Społeczno-Polityczna</h3>
  <p>
    • Pomysłodawca społeczno-politycznego klubu dyskusyjnego u Zbigniewa i Zofii Romaszewskich.<br>
    • Członek Klubu Atlantyckiego.<br>
    • Współtwórca i współprowadzący Biura Prasowego Ruchu Odbudowy Polski Jana Olszewskiego.<br>
    • Członek Ligi Republikańskiej.
  </p>

  <h3>Odznaczenia i Wyróżnienia</h3>
  <p>
    • Odznaczony 'Odznaką Honorową Działacza Opozycji Antykomunistycznej' oraz legitymacją 
    'Działacza Opozycji Antykomunistycznej' – Urząd do Spraw Kombatantów i Osób Represjonowanych (2019).
  </p>
  <p>
    • Odznaczony nagrodą <strong>Zasłużony dla Miasta Stołecznego Warszawy – SYRENKA</strong>, 2008 r.
  </p>

  <h3>Inicjatywy</h3>
  <p>
    • Twórca Komitetu 'WORLD SOLIDARITY', prawa człowieka – 
    <a href="http://www.world-solidarity.org" target="_blank">www.world-solidarity.org</a>
  </p>
  <p>
    • Inicjator powstania polskiego <strong>Parlamentarnego Zespołu na Rzecz Tybetu</strong>, 1999 r.
  </p>
  <p>
    • Pomysłodawca przyznania JŚ Dalai Lamie tytułu <strong>Honorowego Warszawiaka</strong> w 2009 r.
  </p>
  <p>
    • Członek Międzynarodowego Zespołu Ekspertów Fundacji 'Illuminate Americas Heroes'.
  </p>
</article>
